body, #run, #file_upload {
	background-color: #333333;
	font-family: sans-serif;
}

.header, .pane, #input_area_area, #result_area, #run {
	border: 2px solid #CCCCCC;
}

h1, .mode, .stat, #input_area, #result_area, #run, #file_upload {
    color: #FFFFFF;
}

.header {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 9px;
	margin-left: 0px;
	padding: 1em;
}

h1 {
	margin: 0px;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.25em;
}

.pane {
	margin-top: 0px;
	margin-right: 9px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	float: left;
}

#modes {
	margin: 0px;
    padding: 0px;
}

.mode {
	font-size: 1em;
	font-weight: 500;
	text-align: left;
	padding: 0px;
    margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
}

.mode-selector {
    width: 26px;
}

#stats {
	margin-top: 2em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}

.stat {
	font-size: 0.75em;
	font-weight: 100;
	text-align: left;
	padding: 0px;
    margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
}

.editor {
 	margin-top: 0px;
 	margin-right: 9px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	float: left;
}

#editor-footer {
 	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
    padding: 0px;
}

#input_area, #result_area {
	background-color: #4d4d4d;
	font-size: 1em;
	width: 30em;
	height: 20em;
	resize: none;
}

#file_upload {
	float: left;
	margin: 0px;
}

#run {
	float: right;
	width: 90px;
	height: 30px;
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
}

#result {
 	margin: 0px;
	padding: 0px;
	float: left;
}
